<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="search-block">
  <%= form_tag users_path, method: :get do %>
    <%= label_tag 'query[email]', 'Email: ' %>
    <%= search_field_tag 'query[email]', params[:query].try(:[], :email) %>

    <%= submit_tag "Find" %>
  <% end %>
</div>

<hr />

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= boolean_to_string(user.admin?) %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-light' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-light' %></td>
        <td>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= render 'pagination', pages: pagination_block(@users), current_page: current_page %>
</div>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
