<%= form_for @user, method: :post, html: { class: 'form-signin' } do |form| %>
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :email, 'Email address' %>
  <%= form.text_field :email,
                     class: 'form-control',
                     type: :email,
                     required: true,
                     autofocus: true %>

  <%= form.label :password, 'Password' %>
  <%= form.text_field :password,
                     class: 'form-control',
                     type: :password,
                     required: true %>

  <div class="custom-control custom-checkbox">
    <%= form.check_box :admin, class: 'custom-control-input' %>
    <%= form.label :admin, 'Is admin', class: 'custom-control-label' %>
  </div>

  <%= form.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>

  or <%= link_to 'sign in', new_user_session_path %>
<% end %>

