<!DOCTYPE html>
<html>
  <head>
    <title>SimpleAuthentification</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">SimpleAuth</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="<%= root_path %>">Home</a>
            <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
            <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
