<html>
  <head>
    <title>SimpleAuthentification</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="container">
      <% unless flash.empty? %>
        <div class="row">
          <div class="col align-self-center">
            <% flash.each do |key, message| %>
              <div class="alert alert-<%= key %>" role="alert">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
